.cssicon-container {
    width: 100px;
    margin: 0 0;
    border: solid 1px white;
    border-radius: 5px;
    transition: transform .1s;
    animation: slideIn 1s ease-in;
}

.cssicon-container:hover {
    transform: scale(1.06);
}

.css-name {
    margin: 0;
    width: 100% auto;
    font-size: 0.9vw;
}

.css-icon {
    width: fit-content;
}

@keyframes slideIn {
    0% {
      transform: translateX(-80em);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .css-name {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 960px) {
    .css-name {
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 768px) {
    .css-name {
        font-size: 1.8vw;
    }
}
@media screen and (max-width: 430px) {
    .cssicon-container {
        width: 50px;
    }
    .css-icon {
        width: 95%;
    }
    .css-name {
        font-size: 2.5vw;
        line-height: normal;
    }
}
