.app-title-container {
  position: fixed;
  width: 100%;
  z-index: 5;
}
  
.title-bar {
  background-color: #000;
  position: sticky;
}
  
.app-title {
  position: sticky;
  margin: 0;
  padding: 0.2%;
  font-size: 3.5rem;
}
  
@media screen and (max-width: 570px) {
  .app-title {
      font-size: 3rem;
  }
}
@media screen and (max-width: 412px) {
  .app-title {
      font-size: 2rem;
  }
}