.app-title-container {
  position: fixed;
  width: 100%;
  z-index: 1;
}
  
.title-bar {
  background-color: #000;
  position: sticky;
  z-index: 3;
}
  
.app-title {
  position: sticky;
  margin: 0;
  padding: 0.2%;
}
  
@media screen and (max-width: 440px) {
  .app-title {
      font-size: 10.5vw;
  }
}