#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* border: green 2px solid; */
  padding: 2%;
}

.app-title-container {
  width: 100% auto;
  position: relative;
  text-align: center;
  padding: 2rem 1rem 1.5rem 1rem;
}

.app-title {
 display: inline;
}

@media screen and (max-width: 430px) {
  .app-title {
    font-size: 12vw;
   }
   .app-title-container {
    padding: 0;
   }
}