.smashroster-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100% auto;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;
    box-shadow: inset 0 -2.5em 6em #424242,
    0 0 0 2px #010101,
    0.3em 0.3em 1em #757575;
}

.currentroster-title {
    padding-bottom: 1%;
    margin: 0;
}

.random-selection-container {
    width: 100% auto;
    /* padding: 1rem 2rem 1rem 2rem; */
}

.random-btn-container {
    padding-bottom: 1%;
}

.random-btn {
    width: 100px auto;
    transition: transform .1s;
    padding: 0;
    filter: grayscale();
    outline: 0;
    border: 0;
    cursor: pointer;
}

.random-btn:hover {
    transform: translateY(-0.2em);
    background-color: #616060;
    filter: none;
    background: none;
    outline: 0;
    border: 0;
}

.random-btn:focus {
    background-color: #616060;
    background: none;
    outline: 0;
    border: 0;
}

.qmark {
   max-width: 150px; 
}

.player-container {
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
}

.player-title {
    margin: 0;
    border-bottom: 2px solid white;
    width: 100% auto;
}

.player-fighter-container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid white;
    width: 100% auto;
    height: 80%;
}

.player-fighter-name {
    width: 100%;
    margin: 0;
    font-size: 1.3vw;
}

.player-fighter-icon {
    width: 55%;
}

.top-css-container {
    position: relative;
    display: flex;
    width: 100% auto;
}

.mii-btn-container {
    position: relative;
    display: flex;
    width: 48%;

}

.mii-btn {
    width: 60px;
    background-image: url(../../assets/images/miilogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 2%;
}

.currentroster-count {
    text-align: right;
    padding-right: 1rem;
    margin: 0;
    width: 48%;
}

@media screen and (max-width: 1200px) {
    .player-fighter-name {
        font-size: 1.8vw;
    }
}
@media screen and (max-width: 960px) {
    .player-fighter-name {
        font-size: 2.3vw;
    }
}
@media screen and (max-width: 768px) {
    .player-fighter-name {
        font-size: 2.8vw;
    }
    .player-fighter-icon {
        width: 50%;
    }
}
@media screen and (max-width: 430px) {
    .player-fighter-name {
        font-size: 5.2vw;
    }

    /* .random-btn:hover {
        transform: scale(1.02);
    } */
}
