.refresh-subtitle {
    padding: 5% 0 0 0;
    margin: 0;
}

.random-selection-container {
    width: 100% auto;
}

/* Random Button */
.random-btn-container {
    padding: 1% 0;
}

.random-btn {
    width: 100px auto;
    transition: transform .1s;
    padding: 0;
    filter: grayscale();
    outline: 0;
    border: 0;
    cursor: pointer;
}

.random-btn:hover,
.random-btn:active {
    transform: translateY(-0.2em);
    background-color: #616060;
    filter: none;
    background: none;
    outline: 0;
    border: 0;
}

.random-btn:focus {
    background-color: #616060;
    background: none;
    outline: 0;
    border: 0;
}

.qmark {
   max-width: 150px; 
}

/* Player Fighter Selection */
.player-container {
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 5px;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
}

.player-title {
    margin: 0;
    border-bottom: 2px solid white;
    width: 100% auto;
}

.player-fighter-container {
    width: 100% auto;
    height: 80%;
}

.player-fighter-name {
    width: 100%;
    margin: 0;
    font-size: 1.3vw;
}

.player-fighter-icon {
    width: 55%;
}

/* Top CSS */
.top-css-container {
    position: relative;
    display: flex;
    width: 100% auto;
}

.top-css-left {
    width: 48%;
    margin: none;
    padding: none;
}

.top-css-right {
    width: 48%;
    margin: none;
    padding: none;
}

.mii-btn-container {
    position: relative;
    display: flex;
    height: auto;
}

.mii-btn {
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 0.5%;
    transition: transform .1s;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: none;
}

.mii-btn:hover,
.mii-btn:active {
    transform: translateY(-0.12rem);
    outline: 0;
    border: 0;
    background: none;
}

.mii-btn:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mii-btn-img {
    position: relative;
    width: 50px;
    margin: 0;
    padding: 0;
}

.removemiis-message {
    font-size: 19px;
    color: #FFFFFFDE;
    padding: 1%;
}

.miisoff-message {
    display: none;
    color: #FFFFFFDE;
    padding: 1%;
    transition: transform .1s;
    cursor: default;
    font-size: 19px;
}

.currentroster-count {
    text-align: right;
    padding-right: 1rem;
    margin: 0;
    margin-top: 3%;
}

/* Smash Roster CSS */
.smashroster-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100% auto;
    padding: 0.5%;
    margin:  0 2% 0 2%;
    border-radius: 5px;
    box-shadow: inset 0 -2.5em 6em #424242,
    0 0 0 2px #010101,
    0.3em 0.3em 1em #757575;
    justify-content: center;
}

.currentroster-title {
    padding-bottom: 1%;
    margin: 0;
}

/* Fighter History */
.fighterhistory-container {
    padding: 2%;
}

.fighterhistory-title {
    margin: 1.5% 0 0 0;
}

.fighterhistory-icon-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
    border-radius: 5px;
    box-shadow: inset 0 -2.5em 6em #424242,
    0 0 0 2px #010101,
    0.3em 0.3em 1em #757575;
}

.fighterhistory-icon {
    width: 2.5%;
}

@media screen and (max-width: 1200px) {
    .player-fighter-name {
        font-size: 1.8vw;
    }
    .refresh-subtitle {
        padding: 6% 0 0 0;
        margin: 0;
    }
}
@media screen and (max-width: 960px) {
    .qmark {
        max-width: 125px;
    }

    .player-container {
        width: 140px;
        height: 140px;
    }

    .player-fighter-name {
        font-size: 4vw;
    }

    .player-fighter-icon {
        width: 45%;
    }

    .refresh-subtitle {
        padding: 8% 0 0 0;
    }
}
@media screen and (max-width: 768px) {
    .player-fighter-name {
        font-size: 2.8vw;
    }
    .player-fighter-icon {
        width: 50%;
    }

    .refresh-subtitle {
        padding: 12% 0 0 0;
        margin: 0;
    }

    .fighterhistory-icon {
        width: 5%;
    }
}
@media screen and (max-width: 500px) {
    .qmark {
        max-width: 100px;
    }

    .player-container {
        width: 140px;
        height: 140px;
    }

    .player-fighter-name {
        font-size: 4vw;
    }

    .player-fighter-icon {
        width: 45%;
    }

    .refresh-subtitle {
        padding: 15% 0 0 0;
        margin: 0;
    }

    .mii-btn {
        width: 80px auto;
    }

    .mii-btn-img {
        width: 45px;
    }

    .removemiis-message {
        display: none;
    }

    .fighterhistory-icon {
        width: 6%;
    }
}
